<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

    <variable name="defaultLayout"
              value="${date}|${level}|[${threadid}]|${logger}|${message} ${exception:format=ToString}" />

    <targets>
        <target name="file" type="File" layout="${var:defaultLayout}" fileName="${basedir}/logs/sue.log"
                archiveOldFileOnStartup="true" />
        <target name="console" type="ColoredConsole" layout="${var:defaultLayout}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>